.language-picker {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #E2E2E8;
  border-radius: 5px;
  height: 30px;
  width: 75px;
}

.flag {
  float: right;
  margin-top: 2.5px;
  height: 30px;
  width: 25px;
  margin-right: 10px;
}

.FI {
  background: url('Finland.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.EN {
  background: url('United-Kingdom.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.language-row p {
  font-size: 13px;
}

.language-row .flag {
  top: 0px;
}

.language-picker .angle {
  height: 30px;
  position: absolute;
  left: 10px;
  background-color: 'red';
}

.language-row {
  height: 30px;
  clear: both;
}

.country-code {
  float: left;
  padding-left: 10px;
  line-height: 30px;
  margin: 0;
}

.language-picker-drop-down {
  background-color: #E2E2E8;
  width: 75px;
  position: absolute;
  border-radius: 5px;
  top: 31px;
}