.header-image {
  background: url('blueberries_2.jpg');
  background-size: cover;
  width: 100%;
  height: 200px;
  box-shadow: 0 1px 5px grey;
}

.site-title {
  text-align: center;
  font-size: 60px;
  color: white;
  margin-top: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}