.footer-root {
  margin-top: 45px;
  justify-content: center;
  background-color: #434352;
  width: 100%;
}

.footer-background {
  width: 100%;
  min-height: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
}

.footer-content-wrapper {
  max-width: 630px;
  margin: auto;
}

.footer-text {
  clear: both;
  padding-top: 30px;
  color: white;
}

.footer-link {
  font-size: 15px;
  color: white;
}

.footer-links-left {
  width: 50%;
  float: left;
}

.footer-links-right {
  width: 50%;
  float: right;
}