body {
  background-color: #E2E2E8;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Work Sans-medium', sans-serif;
  font-weight: bold;
  color: #2D2223;
}

p, span {
  font-family: 'Rubik', sans-serif;
  color: #2D2223;
}