.search-container {
  max-width: 630px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

input[type=text] {
  width: 100%;
  padding-left: 15px;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color:#8D8C8D;
}

.item-row {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-left: 15px;
  position: relative;
}

.item-name {
  margin: auto 0;
  line-height: 50px;
  font-weight: 700;
  font-size: 17px;
}

.item-description-hidden {
  line-height: normal;
  font-size: 15px;
  display: none;
}

.item-description-visible {
  line-height: normal;
  font-size: 15px;
}

.item-description-visible-truncated {
  line-height: normal;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-row {
  width: 25px;
  height: 25px;
  color: green;
  position: absolute;
  right: 15px;
  top: 13px;
}

.padding-right {
  width: calc(100% - 50px);
}

.padding-hack {
  padding-bottom: 15px;
}

.item-arrow {
  position: absolute;
  right: 12px;
  top: 55px;
  color: #2D2223;
}

.search-bar {
  border-radius: 5px;
  height: 45px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}